<p>Album detail view of {{passedId}}</p>

<div class="panel panel-info">
 	<div class="panel-heading">
 		<h3 class="panel-title">{{albumTitle}} ({{albumYear}})</h3>
 	</div>
 	<div class="table-responsive">
		<table class="table table-condensed table-striped">
			<tbody>
				<tr ng-repeat="track in albumTracks">
					<td>{{track.Track}}</td>
					<td>{{track.Artist}}</td>
					<td>{{track.Name}}</td>
					<td>{{track.Time | secondsToDate | date: 'm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<p>
	<a class="btn btn-primary" href="#/discography/">Back</a>
</p>


