<h3>This is the Discography view.</h3>
<div class="panel-body">
	<table class="table ">
		<thead>
			<tr>
				<th>Album</th>
				<th>Year</th>
				<th>Catalogue</th>
			</tr>
		</thead>
		<tbody>
<!-- 			<tr ng-repeat="item in albums" ng-click="somethingClicked(item.Catalogue)">
 -->			<tr ng-repeat="item in albums">
				<td>{{item.Album}}</td>
				<td>{{item.Year}}</td>
				<td>
					<a href="#/discography/{{item.Catalogue}}">{{item.Catalogue}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>